spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookingdb
    driver-class-name: org.postgresql.Driver
    username: booking_user
    password: booking_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
