spring:
  application:
    name: backend-booking-api

  profiles:
    active: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  graphql:
    path: /graphql
    graphiql:
      enabled: true
      path: /graphiql

server:
  port: 8080

logging:
  level:
    org.springframework: INFO
    com.triptweak.backend_booking_api: DEBUG
